<h1>New record</h1>

<% form_for(@record) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ticker %><br />
    <%= f.text_field :ticker %>
  </p>
  <p>
    <%= f.label :trade_date %><br />
    <%= f.datetime_select :trade_date %>
  </p>
  <p>
    <%= f.label :open %><br />
    <%= f.text_field :open %>
  </p>
  <p>
    <%= f.label :close %><br />
    <%= f.text_field :close %>
  </p>
  <p>
    <%= f.label :adj_close %><br />
    <%= f.text_field :adj_close %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', records_path %>