<p>
  <b>Main:</b>
  <%=h @run.main %>
</p>

<p>
  <b>Opposite:</b>
  <%=h @run.opposite %>
</p>

<p>
  <b>Start:</b>
  <%=h @run.start %>
</p>

<p>
  <b>Stop:</b>
  <%=h @run.stop %>
</p>

<p>
  <b>Main shares:</b>
  <%=h @run.main_shares %>
</p>

<p>
  <b>Opposite shares:</b>
  <%=h @run.opposite_shares %>
</p>

<p>
  <b>Main enter price:</b>
  <%=h @run.main_enter_price %>
</p>

<p>
  <b>Opposite enter price:</b>
  <%=h @run.opposite_enter_price %>
</p>

<p>
  <b>Main exit price:</b>
  <%=h @run.main_exit_price %>
</p>

<p>
  <b>Opposite exit price:</b>
  <%=h @run.opposite_exit_price %>
</p>

<p>
  <b>Gain:</b>
  <%=h @run.gain %>
</p>


<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>